* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    background: #3C1B8C;
}

a {
    text-decoration: none;
    color: #000000;
}

.GameBoxBody {
    width: 300px;
    height: 100vh;
    opacity: 1;
    position: relative;
    top: 20px;
    overflow: hidden;
}

.FirstContainer {
    width: 100%;
    height: 540px;
    background: #6F35FC;
    opacity: 1;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-radius: 0px 0px 60px 0px;
    border-color: #000000;
    border-width: 1px;
}

.Second_Container {
    min-width: 264px;
    height: 232px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.Screen {
    width: 232px;
    height: 184px;
    background: rgba(139,195,74,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.Author {
    position: relative;
    top: 250px;
    left: 55px;
}

.Buttons_Container {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 200px;
    opacity: 1;
    position: relative;
    top: 296px;
    left: 20px;
    overflow: hidden;
}
  
.Button_A {
    width: 40px;
    height: 40px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 180px;
    border-radius: 50%;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.85)
}

.Button_B {
    width: 40px;
    height: 40px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 215px;
    border-radius: 50%;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.85)
}

.Button {
    width: 35px;
    height: 35px;
    background: rgba(34,34,34,1);
    opacity: 1;
    transition: box-shadow 0.2s ease-in-out;
}

.Button:active, .Button_A:active, .Button_B:active {
    background: #000000;
    box-shadow: none;
}


.DPAD {
    position: absolute;
    width: 38%;
    height: 22%;
    left: 16px;
    top: 304px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #36275e;
    background-color: #8349FE;
}

.Button_UP {
    position: absolute;
    top: 0px;
    left: 35px;
    overflow: hidden;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.85);
    border-radius: 0 0 10px 10px;
}

.Button_DOWN {
    position: absolute;
    top: 75px;
    left: 35px;
    overflow: hidden;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.85);
    border-radius: 10px 10px 0px 0px;
}

.Button_RIGHT {
    position: absolute;
    top: 38px;
    left: 70px;
    overflow: hidden;
    box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.85);
    border-radius: 10px 0 0 10px;
}

.Button_LEFT {
    position: absolute;
    top: 38px;
    left: 0px;
    overflow: hidden;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.85);
    border-radius: 0 10px 10px 0;
}

#btn-open-modal {
    position: absolute;
    top: 420px;
    left: 90px;
    transform: rotate(-40deg);
    border-radius: 20px;
    border-style: none;
    background: rgba(34,34,34,1);
    padding: 4px 8px;
    font-size: 10px;
}

// ---------- MODAL 


@media (min-width: 768px) {

    .FirstContainer {
        max-width: 300px;
    }

}