* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
  }

.GameBoxBody {
    width: 300px;
    height: 540px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.FirstContainer {
    width: 300px;
    height: 540px;
    background: rgba(111,53,252,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.Second_Container {
    width: 264px;
    height: 232px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.Screen {
    width: 232px;
    height: 184px;
    background: rgba(139,195,74,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.Buttons_Container {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 189px;
    opacity: 1;
    position: relative;
    top: 296px;
    left: 23px;
    overflow: hidden;
}
  
.Button_A {
    width: 44px;
    height: 45px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 180px;
    border-radius: 50%;
}

.Button_B {
    width: 44px;
    height: 45px;
    background: rgba(34,34,34,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 215px;
    border-radius: 50%;
}

.Button {
    width: 40px;
    height: 40px;
    background: rgba(34,34,34,1);
    opacity: 1;
}

.Button_UP {
    position: absolute;
    top: 0px;
    left: 35px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

.Button_DOWN {
    position: absolute;
    top: 70px;
    left: 35px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.Button_RIGHT {
    position: absolute;
    top: 35px;
    left: 70px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.Button_LEFT {
    position: absolute;
    top: 35px;
    left: 0px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}